*{ margin: 20px ;  }
div > h1{	 font-weight: bold; font: outline;  background: rgb(0, 0, 0);}

.hh{ border: solid 2px black; font-size: 25px;  background: #000; width: 450px; margin-left: 370px;  }
.bu{   background: #000 ; color: white;   height: 30px;  border: 2px solid white; }
